.signUp{
    width: 30%;
    min-width: 200px;
    max-width: 400px;
    margin: auto;
    &__form{
        *{
            display: block;
        }
    }
    input{
        margin-bottom: 10px;
        width: 100%;
    }
}